
html {
	 height: 70%;
	font-size: 16px;
}
body {
	line-height: 2;
	background-color: black;
	height: 70%;
}

.about div.panel-body, .about ul.panel-body {
	text-align: left;
}
h4.panel-title a {
	color: #FFF;
}

.about-content p{
	margin-left: 0;
	font-size: 1.3em;
}

/*navigation*/ 
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  	margin-right: 15px;
 	margin-left: -15px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
	color:#FFF;
}
.navbar-brand, .navbar-nav > li > a {
 margin: 0 2em 0 0;
}
.navbar-brand, .navbar-nav > li > a.first {
 //margin-left: 4em
}
.navbar-inverse .navbar-nav>li>a {
	color: #8EE8CD;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav {
width: auto;
margin-left: 5%;
}
.nav-tabs {
	margin-top: -24px;
	border-bottom-color: #8EE8CD;
}
.nav-tabs>li>a {
	color: #8EE8CD;
}
.nav-tabs>li>a:hover {
	color: #FFF;
	background-color: #000;
	cursor: pointer;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #000;
	color: #FFF;
	border: 1px solid #8EE8CD;
	border-bottom-color: transparent;
}

footer {
	color: #FFFFFF;
	font-family: 'great-vibes';
}



/* Home */

.home {
	background: black center/150% url('../images/gray5.jpg');
	background-repeat: repeat-y;
	background-size: contain;
}

.home-content {
	text-align: center;
	color:#FFF;
}
.home-content h1 {
	padding-top:85px;
	padding-bottom:15px;
	font-family: 'Shrikhand';
}
.home-content h2 {
	font-weight: bold;
}
.home-content img {
	margin: 15px;
}

/* projects */
.projects {
	background: black url('../images/gray5.jpg');
	background-repeat: repeat-y;
	background-size: contain;
	color: #000;
}
.projects-content {
	text-align: center;
}
.projects-content h1 {
	padding-top: 80px;
	font-family: 'Spac3-tech';
	font-weight: bold;
	font-size: 3em;
	color:#8ef4ff;
}
.projects-content .projects-row {
	margin: 50px 20px;
}
.projects .project-img {
	margin: 0 auto;
} 
.projects-row .well  {
	background: #82bdd8;
	padding: 20px;
	border-radius:5%;
	border-right: 10px solid darkgray;
	border-left: 10px solid darkgray;
}

/* About */
.about {
	 background: black url('../images/about4.jpg');
	 background-repeat: repeat-y;
	background-size: contain;
}
.about-media-body {
	padding: 0 0 0 20px;
}
.about-header h1 {
	font-family: 'Shrikhand';
	text-align: center;
	padding-top:65px;
	padding-bottom:20px;
	font-size: 2.8em;
	color:#000;
	background-color: rgba(255,255,255,0.2);
}
.about .row {
	margin: 0 20px;
}
.about .jumbotron {
	padding: 20px 20px 0 20px;
	border: 30px solid #3072AB;
	border-radius: 5%;
}
.about .jumbotron .thumbnail {
	float: left;
	margin: 0 20px 0 0;
}
.about-content .panel-title {
	color: #FFF;
	border-radius: 5%;
}


/* crousel */

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}