
html {
	width:100%;
	 height: 100%;
	font-size: 16px;
}
body {
	line-height: 2;
	width:100%;
	height: 100%;
	background:  #2D2D2D center/100% url('../images/background/gray5.jpg');
	background-repeat: repeat-y;
	background-size: cover;
	margin: 20px;
}


/*navigation*/ 
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  	margin-right: 15px;
 	margin-left: -15px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
	color:#FFF;
}
.navbar-brand, .navbar-nav > li > a {
 margin: 0 3.5em 0 0;
}
.navbar-brand, .navbar-nav > li > a.first {
 //margin-left: 4em
}
.navbar-inverse .navbar-nav>li>a {
	color: #8EE8CD;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav {
width: auto;
margin-left: 5%;
}
.navbar-inverse {
	background: rgb(14, 78, 114);
}
footer {
	color: #FFFFFF;
	//font-family: 'great-vibes';
}

/* Pages headers */
.home h1, .projects h1, .about h1, .contact h1, .awards h1 {
	margin-top: 80px;
	margin-bottom: 30px;
	font-family: 'Spac3-tech';
	font-weight: bold;
	font-size: 3em;
	color:#8ef4ff;
	text-align: center;
}

/* Home */
.home {
	text-align: center;
	color:#FFF;
}
.home h2 , .home p {
	font-weight: bold;
	font-family: 'Spac3-tech';
}

/* projects */
.projects {
	text-align: center;
}
.projects-content {
	border: 1px solid #8EE8CD;
	border-top: none;
	border-bottom: none;
}
.projects-content .projects-row {
	margin: 50px 20px;
}
.projects-content .project-img {
	margin: 0 auto;
} 
.projects-content .projects-row .well  {
	background:  #73A6E4;
	padding: 20px;
	border-radius:5%;
	border-right: 10px solid darkgray;
	border-left: 10px solid darkgray;
}

/* Awards*/
.awards-content {
	text-align: center;
}
.awards-content {
	border: 1px solid #8EE8CD;
	border-top: none;
	border-bottom: none;
}
.awards-content .awards-row {
	margin: 50px 20px;
}
.awards .award-img {
	margin: 0 auto;
} 
.awards-row .well  {
	background: #82bdd8;
	padding: 20px;
	border-radius:5%;
	border-right: 10px solid darkgray;
	border-left: 10px solid darkgray;
}

/* Gallery for projects and awards */
.tab-content .thumbnails img {
	transition: all 0.2s ease-in-out;
}
.tab-content:hover .thumbnails img {
	opacity: 0.6;
	transform: scale(0.90);
}
.tab-content .thumbnails:hover .thumbnail{
	opacity: 1;
}
.tab-content .thumbnails img:hover {
	transform: scale(1) rotate(2deg);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* nav-tabs for projects and awards */
.nav-tabs {
	border-bottom-color: #8EE8CD;
}
.nav-tabs>li>a {
	color: #8EE8CD;
}
.nav-tabs>li>a:hover {
	color: #FFF;
	background-color: #000;
	cursor: pointer;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #000;
	color: #FFF;
	border: 1px solid #8EE8CD;
	border-bottom-color: transparent;
}

/* About */
.about .row {
	margin: 0 20px;
	text-align: left;
}
.about .jumbotron {
	margin-top: 20px;
	padding: 20px 20px 0 20px;
	border: 10px solid  #73A6E4;
	border-radius: 5%;
}
.about .jumbotron .thumbnail {
	float: left;
	margin: 0 20px 0 0;
}
.about .panel-primary {
	border-radius: 5%;
}
.about .panel-primary .panel-heading {
	background: #73A6E4;
}
.about .panel-title {
	padding: 5px;
	color: #FFF;
}
.about ul.panel-body {
	//list-style-type: none;
}
.about ul.panel-body li{
    float: left;
    display: block;
    margin-right: 10px;
	width:auto;
	border-radius: 50%;
}
.about ul.panel-body li:nth-child(1) {	/* html */
	background-color: rgba(241, 101, 41, 0.8); 
}
.about ul.panel-body li:nth-child(2) {	/* css */
	background-color: rgba(48, 173, 217, 0.8);
}
.about ul.panel-body li:nth-child(3) {	/* bootstrap */
	background-color: rgba(95, 63, 139, 0.8);
}
.about ul.panel-body li:nth-child(4) {	/* js */
	background-color: rgba(251, 182, 2, 0.8);
}
.about ul.panel-body li:nth-child(5) {	/* jquery */
	background-color: rgba(8, 104, 171, 0.8);
}
.about ul.panel-body li:nth-child(6) {	/* angular */
	background-color: rgba(253, 0, 33, 0.8);
}
.about ul.panel-body li:nth-child(7) {	/* processingJs */
	background-color:rgba(29, 104, 146, 0.8);
}
.about ul.panel-body li:nth-child(8) {	/* github */
	background-color: rgba(13, 38, 54, 0.4);
}
.about ul.panel-body li:nth-child(9) {	/* nodeJs */
	background-color: rgba(140, 200, 75, 0.8);
}
.about ul.panel-body li:nth-child(10) {	/* mongoDB */
	background-color: rgba(88, 170, 80, 0.8);
}
.about ul.panel-body li:nth-child(11) {	/* task runners */
	background-color: rgba(251, 169, 25, 0.8);
}
.about p {
	margin-left: 0;
	font-size: 1.3em;
}

/* Contact */
form {
  width: 500px;
  background: #73A6E4;
  padding: 20px 25px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  border-radius: 5%;
}
form > h2 {
	color: #078D1E;
	font-weight: bold;
}
form input,
form textarea {
  font: inherit;
  padding: 3px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: lightyellow;
}
form button {
	margin-top: -50px;
	border: 1px solid rgba(0,0,0,0.5);
	padding: 5px 20px;
	font-size: 14px;
	font-weight: bold;
	background:  #3072AB;
	color: white;
}
form label {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 1px;
  display: block;
}


footer {
   margin: 50px 0;
}